<div id="{{ id }}" class="carousel {{ effect }}" data-bs-ride="carousel">


  {# Show indicators if set in view. #}
  {%  if indicators %}
  <div class="carousel-indicators carousel-mainpage-indicators">
      {% for key, row in rows %}
          {% set indicator_classes = [loop.first ? 'active'] %}
          <button type="button" data-bs-target="#{{ id }}" data-bs-slide-to="{{ key }}" class="{{ indicator_classes|join(' ') }}" ></button>
      {% endfor %}
  </div>
  {% endif %}


  <div class="carousel-inner">


    {% for row in rows %}
        {% set row_classes = ['carousel-item', loop.first ? 'active'] %}
        <div class="{{ row_classes|join(' ') }}" data-bs-interval="{{ interval }}">
        {{ row.image }}
        {% if row.title or row.description %}
            {%  if use_caption %}
            <div class="carousel-caption d-none d-md-block col-md-6 text-light text-start ">
            {% endif %}
            {% if row.title %}
                <h2 class="lh-1">{{ row.title }}</h3>
            {% endif %}
            {% if row.description %}
                <p>{{ row.description }}</p>
            {% endif %}
            {%  if use_caption %}
            </div>
            {% endif %}
        {% endif %}

        </div>
    {% endfor %}
  </div>


  {% if navigation %}
  <button class="carousel-control-prev" type="button" data-bs-target="#{{ id }}" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{{ 'Previous'|t }}</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{ id }}" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">{{ 'Next'|t }}</span>
  </button>
  {% endif %}

</div>
